

.chefs__subtitle{
    text-align: center;
    padding-bottom: 5px;
}

.chefs__title{
    text-align: center;
    padding-bottom: 60px;
    padding-bottom: 30px;
    @include media-phone{
        padding-bottom: 15px;
    }
}

.chefs__container{
    display: flex;
    justify-content: space-between;
    gap: 145px;
    align-items: center;
    padding-bottom: 100px;
    @include media-tablet{
        flex-direction: column;
        padding-bottom: 30px;
        gap: 30px;
    }
}

.chefs__images-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @include media-tablet{
        justify-content: center;
        gap: 10px;
    }
    @include media-phone{
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        align-content: center;
    }
}

.chefs__text{
    @include media-tablet{
        padding-bottom: 15px;
    }
}

.chefs__chef-photo{
    padding-bottom: 30px;
}

.chefs__card-title{
    padding-bottom: 10px;
    @include media-phone{
        text-align: center;
    }
}

.chefs__box-text{
    @include media-phone{
        text-align: center;
    }
}

.press-list{
    display: flex;
    justify-content: space-between;
    gap: 52px;
    padding-bottom: 157px;
    align-items: center;
    @include media-tablet{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        padding-bottom: 20px;
    }
}

