.explore__arrows{
    display: inline-block;
    position: absolute;
    right: 390px;
}

.explore__arrow{
    box-shadow: 0px 8px 10px rgba(39, 59, 109, 0.1);
    width: 40px;
}

.explore__subtitle{
    text-align: center;
}

.explore__title{
    display: inline;
    position: relative;
}

.explore__arrow:nth-child(2){
    background-color: var(--color-accent);
}

.explore__box-with-arrows{
    text-align: center;
    padding-bottom: 62px;
}

.explore__image-list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
   
}

.explore__image{
    width: 100%;
}


.explore__dish-description{
    position: relative;
    bottom: 120px;
    right: 0;
    background: rgba(255, 255, 255, 0.63);
    padding: 25px 30px 26px 30px;
}

