.hero{
    min-height: 100vh;
}

.logo{
    font-size: 5rem;
    line-height: 1.16;
    color: var(--color-main);
}

.header__nav{
    @include text-nav;
    font-weight: 700;
}

.header__nav-item{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.header{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    align-items: center;
}

.header__button{
    color: var(--color-main);
    @include text-nav;
    width: 120px;
    height: 45px;
    background-color: white;
    border: solid 1px;
    border-radius: 20px;
    border-color: var(--color-accent);
}

.hero__button{
    width: 179px;
    height: 44px;
   @include button;
}

.hero__content{
    display: flex;
    justify-content: space-between;
    gap: 68px;
    align-items: center;
}

.hero__picture{
    width: 50%;
}

.hero__subtitle{
    padding-bottom: 5px;
}

.hero__title{
    padding-bottom: 50px;
}

.hero__text{
    padding-bottom: 50px;
}


