.testimonial{
    padding-bottom: 160px;
}

.chefs__subtitle{
    text-align: center;
    padding-bottom: 5px;
}

.chefs__title{
    text-align: center;
    padding-bottom: 60px;
}

.testimonial__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}

.testimonial__button-next{
    height: 100px;
    width: 100px;
    background-color: var(--color-accent);
    color: white;
}

.testimonial__button-prev{
    height: 100px;
    color: var(--color-main-text);
    height: 100px;
    width: 100px;
    background: #FFFFFF;
    box-shadow: 0px 6px 8px rgba(39, 59, 109, 0.1);
}

.testimonial__text{
    font-size: 1.6rem;
    line-height: 2;
    padding-bottom: 25px;
}

.testimonial__subtitle{
    font-weight: 700;
    padding-bottom: 10px;
}

.testimonial__small-text{
    font-size: 1.4rem;
    line-height: 1.14;
}