@font-face {
    font-family: "Roboto";
    font-weight: 400;
    font-display: swap;
    src: url(../fonts/Roboto-Regular.woff2) format(woff2);
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 500;
    font-display: swap;
    src: url(../fonts/Roboto-Medium.woff2) format(woff2);
  }
  
  @font-face {
    font-family: "Roboto";
    font-weight: 700;
    font-display: swap;
    src: url(../fonts/Roboto-Bold.woff2) format(woff2);
  }
  * {
    box-sizing: border-box;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  body,
  html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
  }
  
  .container{
      width: 1160px;
      margin-left: auto;
      margin-right: auto;
      @include media-tablet{
        width: 90%
      }
      @include media-phone{
        width: 95%
      }
  }

  .subtitle{
    @include subtitle;
  }

  .title-main{
    @include headings;
  }

  .text-small{
    @include text-small;
  }

  .price{
    @include price;
  }

  .cards-title{
    @include cards-title;
  }

  .subtitle-tight{
    @include subtitle-tight;
  }

