:root{
  --color-main:#0A0B21;
  --color-main-text:#52575C;
  --color-main-soft:#FFFFFF;
  --color-accent:#FFBE00;
}

@mixin subtitle{
  font-size: 2rem;
  line-height: (23 / 20);
  letter-spacing: 0.2rem;
  font-weight: 500;
}

@mixin subtitle-tight{
  font-size: 2rem;
  line-height: (23 / 20);
}

@mixin text-small{
  font-size: 1.6rem;
  line-height: (28 / 16);
}

@mixin headings {
  font-size: 4rem;
  line-height: (46 / 40);
}

@mixin text-nav{
  font-size: 1.8rem;
  font-weight: 700;
  line-height: (21 / 18);
}

@mixin button{
  font-size: 1.6rem;
  line-height: (18 / 16);
  color: white;
  background-color: var(--color-accent);
}

@mixin price{
  font-size: 3rem;
  font-weight: 700;
  line-height: (35/30);
}

@mixin cards-title{
  font-size: 3rem;
  font-weight: 700;
  line-height: (28 / 30);
  color: var(--color-main);
}

@import "reset.scss";
@import "general.scss";
@import "sections/hero.scss";
@import "sections/about-us.scss";
@import "sections/explore.scss";
@import "sections/browse.scss";
@import "sections/choice.scss";

